canvas(width='400', height='400', style = 'border:blue 1px solid;', ng-mousedown="onMouseDown($event)", ng-mouseup="onMouseUp($event)", ng-mousemove="onMouseMove($event)")
//canvas(width='400', height='400', style = 'border:blue 1px solid;')