.container
  .raw
    center
      canvas-animation-balls-directive


  //- .well
  //-   canvas.responsiveCanvas(style = "background-color:white; border:blue 1px solid;") 

  //- button.btn.btn-danger(type='button', data-animation='am-fade-and-scale', data-placement='center', bs-modal='modal')
  //-     | modal from center
  //-     br
  //-     small (am-fade-and-scale)
  //- canvas(drawing="")
  //- div(style='border:black 1px solid;', ng-controller="mainAnimationController as main")
  //-   physics-canvas(width='300', height='300', init='main.init(world)')
  //-     physics-body(type='rectangle', body='main.box1', options='{x:450, y:10, vy:-0.3, width:5, height:5}')  
  //-     physics-body(type='rectangle', body='main.box2', options='{x:250, y:210, vy:-0.3, width:5, height:5}') 
  //-     physics-edge-detection(min-x='0', min-y='0', max-x='500', max-y='500', restitution='0.3') 
  //-     physics-behavior(name='constant-acceleration')    
  //-     physics-behavior(name='body-impulse-response')    
  //-     physics-behavior(name='body-collision-detection')  
  //-     physics-behavior(name='sweep-prune')
    
  //-   button(ng-click='main.kick()') Kick
  //-   button(ng-click='main.grow()') Grow

  //- canvas-animation-directive.frameCanvas(resize='')
  //-   | window.width: {{windowWidth}}
  //-   | window.height: {{windowHeight}}


