.container
	.raw
		.jumbotron
			h1 FiX
			p {{translation.title}}
	.raw
		.col-md-6
			div(ng-include="'/partials/partials/previewImagesPartial'")
		.col-md-6
			div(ng-include="'/partials/partials/featuredModulesPartial'")
