.container
	h1
		i.fa.fa-star.star-featured-topic(ng-show="topic.featured", aria-hidden='true') &nbsp; 
		| {{topic.title}} 
	.raw
		h3 Summary {{topic.Summary}}
	.raw
		p {{topic.content}}
	.raw
		h3 Practice
		a(href="/topics/practices/{{topic.topic}}") {{topic.title}}
	.raw
		br
		h4 Tags
		ul.fa-ul
			li(ng-repeat="tag in topic.tags")
				i.fa.fa-check &nbsp; 
					| {{tag}}


