script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/velocity/velocity.js")
script(type="text/javascript", src="/vendor/moment/min/moment-with-locales.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/lumx/dist/lumx.js")

script(type="text/javascript", src="/vendor/angular-ui-router/release/angular-ui-router.js")

script(type="text/javascript", src="/vendor/angular-aria/angular-aria.js")
script(type="text/javascript", src="/vendor/angular-animate/angular-animate.js")
script(type="text/javascript", src="/vendor/angular-material/angular-material.js")


script(type="text/javascript", src="/app/app.module.js")
script(type="text/javascript", src="/app/app.module.js")

script(type="text/javascript", src="/app/core/core.module.js")
script(type="text/javascript", src="/app/core/config.js")
script(type="text/javascript", src="/app/core/constants.js")

script(type="text/javascript", src="/app/adoption/adoption.module.js")
script(type="text/javascript", src="/app/adoption/config.js")
script(type="text/javascript", src="/app/adoption/constants.js")

script(type="text/javascript", src="/app/layout/layout.module.js")
script(type="text/javascript", src="/app/layout/topbarController.js")

