div(layout="column", layout-fill="")
    md-toolbar
        .md-toolbar-tools
            span Rescate Animal
            // fill up the space between left and right area
            span(flex="")
            md-button
                | Right Bar Button
    md-content
        | Hello!